a:hover,
.nav-bar a:hover {
  color: #F0F0F0;
  font-size: 1.15em;
}

.nav-bar {
  padding: 3rem 0;
  background-color: #b2b6a5;
  display: flex;
  justify-content: space-evenly;
  text-decoration: none;
  position: relative;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0.5px;
  padding: 0 10px;
  
}

.nav-bar a {
  color: black;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto
}

.btn {
  background-color: #bad5be;
  color: black;
  padding: 0.5rem 1rem;
  display: inline-block;
  border: 2px solid black;
  text-transform: uppercase;
  border-radius: 25px;
  cursor: pointer;
  font-size: 1em;
  transition: all 0.3s ease;
}