a:hover,
.nav-bar a:hover {
  color: #F0F0F0;
  font-size: 1.15em;
}

.nav-bar {
  padding: 3rem 0;
  background-color: #489FB5;
  display: flex;
  justify-content: space-evenly;
  font-size: 1.5em;
}

.nav-bar a {
  color: black;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto
}