a:hover,
.nav-bar a:hover {
  color: #F0F0F0;
  font-size: 1.15em;
}

.nav-bar {
  padding: 3rem 0;
  background-color: #90AA86;
  display: flex;
  justify-content: space-evenly;
  text-decoration: none;
  position: relative;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0.5px;
  padding: 0 10px;
  
}

.nav-bar a {
  color: black;
}

body {
  background-color: #90AA86;
}

h1 {
  display: flex;
  position: relative;
  justify-content: center;
}

h2 {
  display: flex;
  position: relative;
  justify-content: center;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto
}

.btn {
  background-color: #577590;
  color: black;
  padding: 0.5rem 1rem;
  display: inline-block;
  border: 2px solid black;
  text-transform: uppercase;
  border-radius: 25px;
  cursor: pointer;
  font-size: 1em;
  transition: all 0.3s ease;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 0;
}

form input {
  width: 400px;
  margin: 0.75rem 0;
  padding: 0.75rem 1.5rem;
  outline: none;
  font-size: 1.5em;
  border-radius: 10px;
  background-color: transparent;
  border: none;
  color: white;
  border-bottom: 2px solid #515867;
  transition: all 0.3s ease;
}

form input:focus {
  border-color: #F95738;
  color: #489FB5;
}

.bigspace {
  max-width: 300px;
  max-height: 380px;
  border-radius: 4px;
  background-color: #8e602e;
  cursor: pointer;
  transition: all 0.2s;
  align-items: center;
  margin: auto
}